<footer class=" w-100 ">

  <section class="container">
    <div class=" row justify-content-between w-100  text-center ">
      <section class="part col-12 col-lg-4">
        <h2>location</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </section>
      <section class="part col-12 col-lg-4">
        <h2>arround the web</h2>
        <div class="icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin-in"></i>
          <i class="fa-solid fa-globe"></i>
        </div>
      </section>
      <section class="part col-12 col-lg-4">
        <h2>about freelancer</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </section>
    </div>
  </section>
  <div class="copyright text-center bg-dark text-white py-3">Copyright © Your Website 2021</div>
</footer>



