<div class="about">
  <div class="container">
    <app-main-title content="about component" myColorClass="text-white" myColor="#fff"></app-main-title>
    <div class="text-content d-flex justify-content-center py-4 text-white">
      <div class="text">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </div>
      <div class="text">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </div>
    </div>
  </div>
</div>
