<div class="contacts">
  <div class="container">
    <app-main-title content="contact section" myColorClass="text-dark" myColor="#2c3e50"></app-main-title>
    <form action="/" class="mx-auto">
      <app-input myLabel="user name:" myName="userName" myType="text"></app-input>
      <app-input myLabel="user age:" myName="userAge" myType="number"></app-input>
      <app-input myLabel="user Email:" myName="userEmail" myType="email"></app-input>
      <app-input myLabel="user password:" myName="userPassword" myType="password"></app-input>
      <input type="submit" value="Send Message" class="mt-5">
    </form>
  </div>
</div>
