<nav class="navbar navbar-expand-lg position-fixed w-100 top-0 left-0 z-3">
  <div class="container py-3">
   <div class="d-flex justify-content-between w-100">
    <a class="navbar-brand" routerLink="home">start framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
   </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link rounded-3 active" aria-current="page" routerLink="about" routerLinkActive="bg-custom text-white ">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3" routerLink="portfolio" routerLinkActive="bg-custom text-white ">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3" routerLink="contacts" routerLinkActive="bg-custom text-white ">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
