<div class="container py-3">
  <app-main-title content="portfolio component" myColorClass="text-dark" myColor="#2c3e50"></app-main-title>
  <div class="row">
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/poert1.png"></app-image-pop>
    </div>
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/port2.png"></app-image-pop>
    </div>
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/port3.png"></app-image-pop>
    </div>
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/poert1.png"></app-image-pop>
    </div>
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/port2.png"></app-image-pop>
    </div>
    <div class="col-12 col-lg-4 my-2">
      <app-image-pop ImgPath="assets/images/port3.png"></app-image-pop>
    </div>
  </div>
</div>
